*.exe
*.ptx
*.ptxas
_app_cuda_version_*
_cuobjdump_list_ptx_*
*.out
*.icnt
*.config
*.xml
.vscode
/MidSem_Proj/testing/kdd_cup
/MidSem_Proj/testing/out_mmul.txt
Assignment2/matrixMulGlobal.cu

EndSem_Proj/testing/out.txt
EndSem_Proj/testing/gpgpu_inst_stats.txt